body{
     background-color:black;
}
.required-star {
        color:red;
        }

        .container{
        position:relative;
        width:1100px;
        height200px;
        margin:190px auto;
        }

        .container .box{
        position:relative;
        padding:25px;
        width:500px;
        height:500px;
        background:#f5f5f5;
        border:1px solid #ccc;
        border-radius:20px;
        margin:30px auto;

      hr{
      margin:30px auto;
      }

      label{
      display:inline-block;
      width:100px;
      text-align:left ;
      margin-right:5px;

      }
      .input{
        margin-center: 60px auto;
        width:100px;

      }

